extends ../layout

block content
  h1 My Tasks

  .container
    h3= currentUser.email
    for todo in todos
      .row
        .col-sm-3
          span= todo.rank
        .col-sm-3
          span= todo.title
        .col-sm-3
          span= todo.completed
        .col-sm-3
          span= todo.created_at

  include ../todos/new_todo_form
