extends ../layout

block content
  .row
    .col-sm-12.page-header
      h1 My Tasks
      small= currentUser.email

  .row
    .col-sm-4
      input.form-control.todo-list-items-filter(type="text" value="" placeholder="filter…")
        
    .col-sm-6
      span.btn-group.todo-list-items-filter-buttons(role="group")
        button.btn.btn-default(data-filter="incomplete") incomplete
        button.btn.btn-default.active(data-filter="all") all
        button.btn.btn-default(data-filter="complete") complete
      
    .col-sm-2
      form(method="post" action="/todos")
        input(type="hidden" name="todo[title]" value="")
        input.new-todo-list-item-button.btn.btn-default(type="submit" value="+")
 
  for todo, index in todos
    - var newEmptyTodo = (index === 0 && todo.title === "")
    - var className = (todo.completed ? 'complete-todo-list-item' : '')
    - if (newEmptyTodo) className +=' editing-todo-list-item'
    form.row.todo-list-item(class=className method="post" action="/todos/"+todo.id)
      .col-sm-10
        input.todo-list-item-checkbox(type="checkbox" name="todo[completed]" checked=todo.completed)
        span.todo-list-item-title=todo.title
        input.form-control.todo-list-item-title-input(type="text" name="todo[title]" value=todo.title data-initial-value=todo.title autofocus=newEmptyTodo)
      .col-sm-2
        .btn-group(role="group")
          input.todo-list-item-edit-button.btn.btn-sm.btn-secondary(type="button" value="edit")
          a.todo-list-item-delete-button.btn.btn-sm.btn-danger(href="/todos/"+todo.id+"/delete") delete
        .btn-group(role="group")
          input.todo-list-item-cancel-button.btn.btn-sm.btn-danger(type="button" value="cancel")
          input.todo-list-item-submit-button.btn.btn-sm.btn-primary(type="submit" value="save")
